@keyframes fade-in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.fade-out {
    -webkit-animation: fade-out 1s ease-out 4s both;
    animation: fade-out 1s ease-out 4s both;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff !important;
    font-family: 'Poppins', sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: "Poppins", sans-serif;
    background: rgb(255, 185, 155);
    background: linear-gradient(180deg,
            rgb(55, 65, 85) 0%,
            rgb(60, 100, 125) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    cursor: url('https://i.ibb.co/w0vtDqg/cursor.png'), auto;
}

/* CONFETTI */

.confetti {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    user-select: none;
}

/* CONFETTI */

/* LOADER */

.center {
    display: flex;
}

.timer {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0D0D0D;
    z-index: 999;
    color: #fff !important;
    cursor: none;
}

.back {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    background: #0D0D0D;
    animation: fade-out 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
    z-index: 1000;
    cursor: none;
}

.logo {
    margin: auto;
    z-index: 1000;
    animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    cursor: none;
}

.card {
    background-color: #0D0D0D !important;
    color: #fff !important;
    font-size: 4.5rem;
    border-color: #fff !important;
}


/* LOADER */

/* Balloons */

.balloon-wrapper {
    text-align: center;
}

.balloon {
    display: inline-block;
    width: 120px;
    height: 145px;
    background: hsl(215, 50%, 65%);
    border-radius: 80%;
    position: relative;
    box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
    margin: 5% 3rem;
    transition: transform 0.5s ease;
    z-index: 10;
    animation: balloons 5s ease-in-out infinite;
    transform-origin: bottom center;
}

@keyframes balloons {

    0%,
    100% {
        transform: translateY(0) rotate(-4deg);
    }

    50% {
        transform: translateY(-25px) rotate(4deg);
    }
}


.balloon:before {
    content: "▲";
    font-size: 20px;
    color: hsl(215, 30%, 50%);
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -12px;
    z-index: 100;
}

.balloon:after {
    display: inline-block;
    top: 153px;
    position: absolute;
    height: 250px;
    width: 1px;
    margin: 0 auto;
    content: "";
    background: rgba(255, 255, 255, 0.2);
}

.balloon:nth-child(2) {
    background: hsl(245, 40%, 65%);
    animation-duration: 4s;
}

.balloon:nth-child(2):before {
    color: hsl(245, 40%, 65%);
}

.balloon:nth-child(3) {
    background: hsl(139, 50%, 60%);
    animation-duration: 3s;
}

.balloon:nth-child(3):before {
    color: hsl(139, 30%, 50%);
}

/* Balloons */

/* Cake */

.cake-bdayCake {
    left: 22.5% !important;
    top: 90% !important;
    transform: translateY(-50%) scale(1.5) !important;
}

.cake-plate {
    position: absolute;
    width: 242px;
    height: 10px;
    border-radius: 10px;
    background-color: #2a9d8f;
}

.cake-plate:before {
    content: "";
    position: absolute;
    width: 195px;
    height: 90px;
    background-color: #9c6644;
    top: -90px;
    left: 25px;
}

.cake-plate:after {
    content: "";
    position: absolute;
    width: 195px;
    left: 25px;
    height: 10px;
    background-color: #ffd166;
    top: -60px;
    box-shadow: 0px 25px #f4978e;
}

.cake-cream {
    position: absolute;
    background-color: #f08080;
    width: 195px;
    height: 20px;
    left: 25px;
    top: -110px;
    border-radius: 20px 20px 0 0;
}

.cake-cream:before {
    content: "";
    position: absolute;
    background-color: #f08080;
    width: 15px;
    height: 30px;
    top: 10px;
    border-radius: 20px;
    box-shadow: 15px 5px #9c6644, 30px -5px #f08080, 45px 0px #9c6644, 60px 4px #f08080, 75px 3px #9c6644, 90px -5px #f08080, 105px 5px #9c6644, 120px -5px #f08080, 135px 0px #9c6644, 150px 4px #f08080, 165px 0px #9c6644, 180px 3px #f08080;
}

.cake-cream:after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.1);
    width: 97.5px;
    height: 110px;
    left: 98px;
    border-radius: 0 20px 0 0;
}

.cake-candle {
    position: absolute;
    width: 10px;
    height: 40px;
    background: repeating-linear-gradient(#fae0e4,
            #fae0e4 5px, #ff0a54 5px, #ff0a54 10px);
    box-shadow: inset -5px 0px rgba(0, 0, 0, 0.1);
    top: -150px;
    left: 118px;
}

.cake-candle:before {
    content: "";
    position: absolute;
    background-color: #333;
    width: 2px;
    height: 10px;
    top: -10px;
    left: 4px;
}

.cake-candle:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fcca46;
    border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
    box-shadow: inset -3px 3px #fe7f2d;
    transform: rotate(-45deg);
    top: -28px;
    left: -5px;
    opacity: 0.9;
    animation: scale .5s ease-out infinite;
}

@keyframes scale {
    0% {
        transform: scaleY(1) rotate(-45deg);
        opacity: 0.9;
    }

    50% {
        transform: scaleY(0.9) rotate(-45deg);
        opacity: 0.8;
    }

    100% {
        transform: scaleY(1) rotate(-45deg);
        opacity: 0.9;
    }
}

.cake-flame {
    position: absolute;
}

.cake-flame:before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    height: 10px;
    width: 118px;
    border-radius: 0 10px 10px 0;
    top: 0;
    left: 123px;
}

.cake-one {
    position: absolute;
    color: #fcca46;
    font-size: 20px;
    top: -160px;
    left: 100px;
    text-shadow: 33px -30px #fcca46;
    animation: flash .5s ease infinite alternate;
}

.cake-two {
    position: absolute;
    color: #fcca46;
    font-size: 15px;
    top: -180px;
    left: 100px;
    text-shadow: 35px 30px #fcca46;
    animation: flash .8s ease infinite alternate;
}

.cake-three {
    position: absolute;
    color: #fcca46;
    font-size: 10px;
    top: -195px;
    left: 110px;
    text-shadow: 30px 30px #fcca46;
    animation: flash .4s ease infinite alternate;
}

@keyframes flash {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Cake */

/* Letter */

.let-wrapper {
    top: 75% !important;
}

.let-birthdayCard {
    width: 50%;
    height: 50%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 1s;
}

.let-birthdayCard:hover {
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .2), 0 10px 100px rgba(0, 0, 0, 0.5);
    transform: scale(1.25) perspective(2500px) rotate(5deg);
}

.let-birthdayCard:hover .let-cardFront {
    transform: rotateY(-160deg);
}

.let-birthdayCard:hover .let-happy {
    visibility: hidden;
}

.let-cardFront {
    position: relative;
    background-color: #fff;
    width: 250px;
    height: 350px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .2), 30px 0 50px rgba(0, 0, 0, 0.4);
    transition: .6s;
}

.let-happy {
    font-family: Tahoma, sans-serif;
    text-align: center;
    margin: 30px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    transition: .1s;
}

.let-balloons {
    position: absolute;
}

.let-balloonOne,
.let-balloonTwo,
.let-balloonThree,
.let-balloonFour {
    position: absolute;
    width: 85px;
    height: 95px;
    border-radius: 50%;
}

.let-balloonOne {
    background-color: rgb(239, 71, 111, 0.7);
    left: -10px;
    top: 50px;
}

.let-balloonTwo {
    background-color: rgb(6, 214, 160, 0.7);
    left: 50px;
    top: 20px;
}

.let-balloonThree {
    background-color: rgb(255, 209, 102, 0.7);
    left: 110px;
    top: 50px;
}

.let-balloonFour {
    background-color: rgb(17, 138, 178, 0.7);
    left: 170px;
    top: 20px;
}

.let-balloonOne:before,
.let-balloonTwo:before,
.let-balloonThree:before,
.let-balloonFour:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 155px;
    background-color: #ffd166;
    top: 95px;
    left: 43px;
}

.let-balloonOne:after,
.let-balloonTwo:after,
.let-balloonThree:after,
.let-balloonFour:after {
    content: "";
    position: absolute;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    top: 94px;
    left: 37px;
}

.let-balloonOne:after {
    border-bottom: 10px solid #ef476f;
}

.let-balloonTwo:after {
    border-bottom: 10px solid #06d6a0;
}

.let-balloonThree:after {
    border-bottom: 10px solid #ffd166;
}

.let-balloonFour:after {
    border-bottom: 10px solid #118ab2;
}

.let-cardInside {
    position: absolute;
    background-color: #fff !important;
    width: 250px;
    height: 350px;
    z-index: -1;
    left: 0;
    top: 0;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

.let-cardInside>p:first-of-type,
.let-cardInside>p:last-of-type {
    margin: 10px 15px;
    font-size: larger;
}

p {
    font-family: 'Kalam', cursive;
    margin: 40px 15px;
    color: #000 !important;
    font-size: small;
}

.let-name {
    position: absolute;
    left: 150px;
    top: 275px;
    color: #000 !important;
}

.let-back {
    font-family: Tahoma, sans-serif;
    color: #000 !important;
    text-align: center;
    margin: 30px;
    outline-color: #000 !important;
    outline-style: dotted;
}

/* Letter */